@model IEnumerable<PortifolioFotografia.Models.Fotografia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="NovaFotografia">Adicionar Nova Foto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idFotografia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeFotografo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricaoFotografia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idFotografia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeFotografo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricaoFotografia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                <a asp-action="AtualizarFotografia" asp-route-idFotografia="@item.idFotografia">Atualizar Fotografia</a>
                <form asp-action="ExcluirFotografia" asp-route-idFotografia="@item.idFotografia">
                    <button type="submit">Excluir</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
