@model IEnumerable<PortifolioFotografia.Models.Fotografia>

@{
    ViewData["Title"] = "Index";
}

<h1>Portifólio de Fotografias</h1>

<p class="btn-container">
    <a class="btn btn-primary btn-sm" asp-action="NovaFotografia">Adicionar Nova Foto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id:
            </th>
            <th>Fotógrafo:
            </th>
            <th>Descrição:
            </th>
            <th>Data:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idFotografia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeFotografo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricaoFotografia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="AtualizarFotografia" asp-route-idFotografia="@item.idFotografia">Atualizar Fotografia</a>
                <form asp-action="ExcluirFotografia" asp-route-idFotografia="@item.idFotografia" method="post" onsubmit="return confirm('Tem certeza que deseja excluir esta fotografia?');">
                    <button type="submit" class="btn btn-danger btn-sm mt-1">Excluir</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
